{% extends 'AppBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
    
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="col-xs-12">
                            <h3 class="text-center help-block">{{ titulo | trans }}</h3>
                            <a class="btn btn-sm btn-default pull-right" href="{{ app.request.getSchemeAndHttpHost() ~'/'~ form.template.vars.attr.value }}">
                                <i class="fa fa-download"></i>
                                {{ 'label.download.template' | trans}}
                            </a>
                        </div>
                        <div class="col-xs-12">
                            <form novalidate="" method="POST" enctype="multipart/form-data">
                                {{ form_widget(form) }}

                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-success pull-right">
                                        <i class="fa fa-send"></i>
                                        {{ 'label.send' | trans }}
                                    </button>
                                </div>

                                {{ form_rest(form) }}
                            </form>
                        </div>
                        <div class="col-xs-12">
                            {% if errores is defined and errores is not null %}
                                <br>
                                <h3 class="text-center">{{ 'label.list.error.import' | trans }}</h3>
                                <ul class="list-group">
                                    {% for error in errores %}
                                        <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
